.chat-window {
  bottom: 13px;
  position: fixed;
  right: 78px;
  width: 570px;
  background: $md-grey-300;
  z-index: 1;
}

.chat-window-header {
  background: #FFF;
  height: 96px;
  padding: 24px 22px 17px 22px;
  position: relative;
  z-index: 2;

  -webkit-box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, .14);
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, .14);

  .bot-name {
    margin-bottom: 7px;
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .help-text {
    color: $md-grey-500;
  }
  .status {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 50px;
  }
}
.chat-window-body {
  height: 325px;
  overflow: auto;
  padding: 15px 10px;
  position: relative;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;

    li {
      padding: 24px 10px 24px 27px;
      border-bottom: 1px solid $md-grey-300;
    }
    li:last-child {
      border-bottom: none;
    }

    .message-bubble {
      border-radius: 4px;
      margin: 5px 18px 24px;
      // padding: 24px 10px 24px 27px;
      position: relative;
      width: 420px;

      .content-text {
        display: inline-block;
        -ms-word-break: break-all;
            word-break: break-all;
        -webkit-hyphens: auto;
            -moz-hyphens: auto;
                hyphens: auto;
        font-size: 1.14rem;
        width: 315px;
      }

      .content-timestamp {
        color: $md-grey-500;
        display: inline-block;
        text-align: right;
        margin-left: 25px;
      }
    }
    .message-sent {
      background: $md-lime-100;
      margin-left: 50px;
    }
    .message-sent:before, .message-received:before {
      border: solid transparent;
      border-top-color: $md-grey-400;
      border-width: 10px;
      content: "";
      height: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
    .message-sent:before {
      left: 100%;
      margin-left: -9px;
    }
    .message-received:before {
      left: 0;
      margin-left: -11px;
    }
    .message-sent:after, .message-received:after {
      border: solid transparent;
      border-width: 10px;
      content: "";
      height: 0;
      margin-left: -10px;
      position: absolute;
      top: 0;
      width: 0;
    }
    .message-sent:after {
      border-top-color: $md-lime-100;
      left: 100%;
    }
    .message-received:after {
      border-top-color: #FFF;
      left: 0;
    }
    .message-received {
      background: #FFF;
      margin-left: -15px;
    }
  }
}

.chat-window-input {
  background: #FFF;
  padding: 10px 10px 10px 25px;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto;
  grid-template-areas: "input button";

  .chat-input {
    grid-area: input;
    .md-text-field {
      font-size: 1.14rem;
    }
  }
  .chat-button {
    grid-area: button;
    button:hover {
      background: transparent;
    }
  }
}
