.decision-tree-container {
  margin-top: 3rem;

  ul {
    border-left: 1px solid $md-grey-300;
    margin: 0;
    padding: 0 0 0 2rem;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  hr.md-divider {
    opacity: 0;
  }

  .title {
    margin-bottom: 20px;
  }

  .tree-node-container {
    padding: 5px 20px 10px;

    ul {
      
      li {
        list-style-type: none;
        margin: 0px 10px;
        display: inline-block;
      }
    }

    .tree-node-message {
      margin: 0px;

      input {
        font-weight: bold;
      }
    }

    .option-toolbar{
      text-align: right;

      .addlink .md-icon-text,
      .addlink .md-icon {
        color: $md-secondary-color;
        font-weight: normal;
        text-transform: none;
      }
    }

    .addlink:hover {
      background: transparent;
    }

    .tree-node-option {
      border: 1px solid $md-grey-300;
      border-radius: 35px;
      padding: 0px 8px 3px 15px;
      margin: 3px 0;

      .tree-node-option-value {
        display: inline-block;
        // width: 80%;
      }

      .md-text-field-container {
        input {
          cursor: pointer;
        }
      }
    }

  }
  .md-text-field-container--input {
    
    input {
      outline: 0 !important;
      border: none;
      &:focus + hr.md-divider {
        opacity: 1;
        &:after {
          background: $md-grey-300;
        }
      }
    } 
  } 
  .md-full-width {
  }

}
