.decision-tree-container {
  margin-top: 3rem;

  .title {
    margin-bottom: 20px;
  }

  .tree-node-container {
    padding: 5px 20px;

    ul {
      list-style-type: none;
      overflow: auto;
      margin: 15px 0 0;
      padding: 0 0 15px;
      white-space: nowrap;

      li {
        // float: left;
        margin: 0px 10px;
        display: inline-block;
      }
    }

    .tree-node-message {
      margin: 0px;

      input {
        font-weight: bold;
      }
    }

    .tree-node-option {
      border: 1px solid $md-grey-300;
      border-radius: 35px;
      padding: 0px 8px 3px 15px;
      width: 200px;

      .tree-node-option-value {
        display: inline-block;
        width: 80%;
      }

      .md-text-field-container {
        .md-divider {
          //display: none;
        }
      }
    }

    .tree-node-option.selected {
      background: $md-grey-300;
    }
  }
}


// .invisible-scrollbar::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 7px;
// }

// .invisible-scrollbar::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, .5);
//   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
// }
