.relevance-field {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
  background: $md-grey-200;
  border: 1px solid $md-grey-200;

  &.blank {
    background: inherit;
  }
  i.material-icons {
    font-size: 24px !important;
  }
  .md-divider {
    background: transparent;
  }
  input::placeholder {
    font-style: italic;
    color: #cccccc;
  }
}
