code {
  display: block;
  background: $md-grey-200;
  padding: 10px;
}

dd {
  margin-top: 0.5em;
  margin-left: 0;
}

.encryption-buttons {
  text-align: right;
}

.confirmation-input, .confirmation-check {
  display: inline-block;
}
.confirmation-check {
  color: $md-light-green-700;
  font-size: 28px;
}
.confirmation-warning {
  color: $md-red-700;
  font-size: 24px;
}
