code {
  display: block;
  background: $md-grey-200;
  padding: 10px;
}

dd {
  margin-top: 0.5em;
  margin-left: 0;
}

.encryption-buttons {
  text-align: right;

  button:hover {
    background: transparent;
  }
}
