code {
  display: block;
  background: $md-grey-200;
  padding: 10px;
}

dd {
  margin-top: 0.5em;
  margin-left: 0;
}

.encryption-buttons {
  text-align: right;
}

.confirmation-input, .confirmation-check {
  display: inline-block;
}
.confirmation-check {
  color: $md-light-green-700;
  font-size: 28px;
}
.confirmation-warning {
  color: $md-red-700;
  font-size: 24px;
}

.encryption-warning {
  background: $md-red-50;
  border: 2px solid $md-red-900;
  border-radius: 5px;
  padding: 15px;

  h3 {
    color: $md-red-900;
    text-transform: uppercase;
    font-size: 18px;
  }

  .encryption-warning-content {
    margin: 0 7px 15px;
    font-size: 16px;
  }

  .encryption-warning-action {
    text-align: right;
  }
}
