.skill-item > div > .md-tile-addon--icon > i {
  border: 2px dotted transparent;
  border-radius: 50%;
}

.skill-item-relevant > div > .md-tile-addon--icon > i {
  border: 2px dotted $md-grey-400;
}

.recurrence-column {
  white-space: nowrap;
  cursor: pointer;
}

.recurrence-data {
  .md-inline-block {
    vertical-align: middle;
  }
  white-space: nowrap;
}

.drop-target {
  border-bottom: #212121 thin solid;
  opacity: 1.0;
}

.dragging {
  opacity: 0.0
}


#timezone-menu-list {
  width: 100%
}
