.data-table-listing {
  .separator {
    vertical-align: bottom;
    margin-right: 5px;
    margin-left: 5px;
  }

  .link {
    cursor: pointer;
    color: $md-grey-500;
  }

  .md-card-title h2 {
    margin-right: 10px;
    white-space: nowrap;
  }

  .md-card-title {
    a.ui-editable-title-label {
      color: black;
    }

    .md-text-field-container {
      display: inline-block;
      margin-right: 60px;
    }
  }
}

.data-table-header {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;

  .actions {
    margin-top: -5px;
    white-space: nowrap;
    flex: 1;
  }
}

.example {
  flex: 10;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
  background: inherit;
  border: 1px solid $md-grey-200;
  height: 27px;

  input.md-text-field {
    margin-top: 2px;
    margin-bottom: 2px;
    color: $md-grey-500;
  }
  i.md-icon {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: -2px;
  }
  hr {
    display: none;
  }
}
.md-table-card-header {
  display: flex;
  height: 78px;
  margin-top: -2rem; //fix for table header height to 78px
  .md-card-title,
  .md-card-title:last-child {
    padding-bottom: 16px;
    padding-top: 16px;
    h2 {
      font-size: 20px;
    }
  }
}
.md-table-header {
  .md-text--secondary {
    color: #999999;
  }
}
.md-table-column--header {
  font-size: 1.2rem;
  font-weight: 400;
  height: 72px;
}
tbody .md-table-row:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.md-table-column--plain {
  height: 72px;
}
.md-table-row {
  .remove-item {
    background-color: transparent;
    visibility: hidden
  }
  &:hover {
    .remove-item {
      visibility: visible;
    }
  }
}
