
#Logos {
  margin-left: -4%;
  enable-background:new 0 0 60 60;
  .st0{fill:#000000;opacity:0.2}
  .st1{fill:#00BCD4}
  .st2{fill:#CDDC39}
  .st3{opacity:0.25}
  .st4{opacity:0.2}
}

main {
  a {
    color: $md-secondary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.ui-field {
  margin-top: 3rem;
}

.btn-more {
  padding: 0;
  min-width: auto;
}

.loader {
  width: 100%;
  p {
    color: $md-grey-500;
    text-align: center;
  }
}


.ui-editable-title-label i {
  margin-left: .3ch;
}

@media #{$md-desktop-media} {

  .md-tile-text--primary, .md-tile-text--secondary {
      font-size: 15px;
  }
}

.ui-key-value-list {
  thead .md-table-row {
    border-bottom: none;
    .md-table-column--header {
      height: 0;
    }
  }
  tbody .md-table-row {
    border-bottom: none;
    td {
      padding: 0 12px 0 0;
    }
  }
  .md-edit-dialog__blocked-field {
    width: auto;
  }

  .addlink .md-text,
  .addlink .md-icon {
    color: $md-secondary-color;
    cursor: pointer;
  }
}

.editable-field {
  margin-top: 0;
  .md-divider--text-field:after {
    background: $md-secondary-color;
  }
}

#lang-menu-list .md-list-tile .md-tile-content {
  display: grid;
  grid-template-columns: 10em 2em;
  grid-column-gap: 1em;
}

#lang-menu .md-divider--text-field::after {
  background: $md-secondary-color;
}

.file-upload-control {
  padding: 0;
  margin: 4px 0;
  border: 1px dashed $md-grey-500;
  .md-btn--text {
    text-transform: none;
  }
  &.upload-error {
    border-color: red;
    .md-icon-text {
      color: red;
    }
  }
}

//Turn off webkit's number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]:invalid {
  color: $md-red-400;
}

/* ========== Helper classes ============ */

.rounded {
  border-radius: 5px;
}
.grey {
  color: $md-grey-500;
}
.black {
  color: $md-black-base;
}
.active {
  background: rgba(0, 0, 0, .10);
}
.hover {
  background: rgba(0, 0, 0, .05);
}
.hScroll {
  overflow-x: auto;
}
.btn-mainTabs {
  position: absolute;
  right: 5%;
  margin-top: -28px;
  z-index: 1;
  &.md-btn--floating {
    height: 56px;
    width: 56px;
    .material-icons.md-icon {
      font-size: 24px;
    }
    &:hover {
      background-color: $md-secondary-color;
    }
  }
}
.btnHover {
  background: none !important;
  display: none;
  color: #000000;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
tr.md-table-row {
  &.noHover:hover {
    background: none;
  }
  &:hover .btnHover {
    display: block;
  }
}
.hrefLink {
  color: #CDDC39;
}
.roles {
  font-size: 1.15rem;
  text-align: center;
  div {
    display: inline;
  }
  span {
    display: inline !important;
    &:after {
      content: ',';
      display: inline;
    }
    &:last-child:after {
      display: none;
    }
    &:nth-last-child(2):after {
      display: none;
    }
  }
}

.error-message {
  color: $error-red;
}
.error-tree {
  border-color: $error-red !important;
  
  .md-text--error {
    position: absolute;
    margin-top: .4rem;
  }
}
