
#Logos {
  margin-left: -60px;
  enable-background:new 0 0 60 60;
  .st0{fill:#ffffff;opacity:0.1}
  .st1{fill:#00BCD4}
  .st2{fill:#CDDC39}
  .st3{opacity:0.25}
  .st4{opacity:0.2}
}

.md-headline a {
  color: $md-lime-500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.ui-field {
  margin-top: 3rem;
}

#more-menu {
  transform: translateX(-56px) translateY(-7px);
  z-index: 999;
  ul {
    @extend .rounded;
    min-width: 150px;
    margin-top: -42px;
    margin-left: -6px;
    i.dummy {
      margin-left: -10px;
    }
  }

}

.btn-more {
  padding: 0;
  min-width: auto;
}

.loader {
  width: 100%;
  p {
    color: $md-grey-500;
    text-align: center;
  }
}

/* ========== Helper classes ============ */


.rounded {
  border-radius: 5px;
}
.grey {
  color: $md-grey-500;
}
.black {
  color: $md-black-base;
}


.ui-editable-title-label i {
  margin-left: .3ch;
}

@media screen and (min-width: 1025px) {

  .md-tile-text--primary, .md-tile-text--secondary {
      font-size: 15px;
  }
}

.ui-key-value-list, {
  overflow: unset;

  tbody .md-table-row {
    border-bottom: none;
  }

  .addlink .md-text,
  .addlink .md-icon {
    color: $md-secondary-color;
  }
}

#lang-menu-list .md-list-tile .md-tile-content {
  display: grid;
  grid-template-columns: 10em 2em;
  grid-column-gap: 1em;
}

#translations-table {
  tbody .md-table-row {
    border-bottom: none;
  }
}

.translation-key {
  padding-left: 2em;
  display: inline-block;
}

.file-upload-control {
  padding: 0;
  margin: 4px 0;
  border: 1px dashed $md-grey-500;
  .md-btn--text {
    text-transform: none;
  }
  &.upload-error {
    border-color: red;
    .md-icon-text {
      color: red;
    }
  }
}
