
#Logos {
  margin-left: -4%;
  enable-background:new 0 0 60 60;
  .st0{fill:#ffffff;opacity:0.1}
  .st1{fill:#00BCD4}
  .st2{fill:#CDDC39}
  .st3{opacity:0.25}
  .st4{opacity:0.2}
}

main {
  a {
    color: $md-secondary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.ui-field {
  margin-top: 3rem;
}

.btn-more {
  padding: 0;
  min-width: auto;
}

.loader {
  width: 100%;
  p {
    color: $md-grey-500;
    text-align: center;
  }
}


.ui-editable-title-label i {
  margin-left: .3ch;
}

@media #{$md-desktop-media} {

  .md-tile-text--primary, .md-tile-text--secondary {
      font-size: 15px;
  }
}

.ui-key-value-list {
  thead .md-table-row {
    border-bottom: none;
    .md-table-column--header {
      height: 0;
    }
  }
  tbody .md-table-row {
    border-bottom: none;
    td {
      padding: 0 12px 0 0;
    }
  }
  .md-edit-dialog__blocked-field {
    width: auto;
  }

  .addlink .md-text,
  .addlink .md-icon {
    color: $md-secondary-color;
  }
}

#lang-menu-list .md-list-tile .md-tile-content {
  display: grid;
  grid-template-columns: 10em 2em;
  grid-column-gap: 1em;
}

#translations-table {
  tbody .md-table-row {
    border-bottom: none;
  }
}

.translation-key {
  padding-left: 2em;
  display: inline-block;
}

.file-upload-control {
  padding: 0;
  margin: 4px 0;
  border: 1px dashed $md-grey-500;
  .md-btn--text {
    text-transform: none;
  }
  &.upload-error {
    border-color: red;
    .md-icon-text {
      color: red;
    }
  }
}

//Turn off webkit's number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]:invalid {
  color: $md-red-400;
}

.invitation-row {
  color: $md-grey-500;
}

.invitation-activity {
  white-space: nowrap;
  position: relative;
  top: -10px;
  a {
    position: relative;
    top: 10px;
  }
}

#invite-collaborator-dialog {
  min-width: 500px;

  h2 {
    background-color: $md-grey-300;

    .subtitle {
      margin-top: 10px;
      color: $md-grey-600;
      display: block;
      font-weight: normal;
      font-size: 70%;
      line-height: 1.1;
    }
  }

  section {
    padding-top: 10px;
  }

  .role-toggle-control {
    margin-top: 10px;
  }

  .role-description {
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;

    .hint {
      display: block;
      font-weight: normal;
      color: $md-grey-600;
      font-size: 12px;
    }
  }

  .action-buttons {
    padding-top: 40px;

    button {
      margin-right: 20px;
    }
  }

  footer {
    margin: 24px -24px -24px -24px;
    border-top: 1px solid $md-grey-200;

    i {
      position: relative;
      top: 5px;
      margin-right: 10px;
    }
  }
}

/* ========== Helper classes ============ */

.rounded {
  border-radius: 5px;
}
.grey {
  color: $md-grey-500;
}
.black {
  color: $md-black-base;
}
.active {
  background: rgba(0, 0, 0, .10);
}
.hover {
  background: rgba(0, 0, 0, .05);
}
