.md-icon-separator {
  > i {
    order: 2;
  }
}

#Logos {
  margin-left: -60px;
  enable-background:new 0 0 60 60;
  .st0{fill:#ffffff;opacity:0.1}
  .st1{fill:#00BCD4}
  .st2{fill:#CDDC39}
  .st3{opacity:0.25}
  .st4{opacity:0.2}
}

.sidebar {
  .md-list {
    .md-subheader {
      font-size: 1.14em;
      font-weight: 400;
      line-height: 2;
      color: $md-black-base;
      padding: 3.2em 3em 1.5em 1.2em;
    }
    .md-list-tile {
      height: 60px;
      padding-right: 3.2em;
    }
    .md-text,
    .md-icon {
      color: $md-black-base;
    }
    .md-tile-content {
      padding-left: 1em;
    }
    .addlink .md-text,
    .addlink .md-icon {
      color: $md-secondary-color;
    }
  }
}

.md-text-field-container  {
  margin-top: 3rem;
}

#more-menu {
  transform: translateX(-56px) translateY(-7px);
  z-index: 999;
  ul {
    @extend .rounded;
    min-width: 150px;
    margin-top: -42px;
    margin-left: -6px;
    i.dummy {
      margin-left: -10px;
    }
  }

}

.btn-more {
  padding: 0;
  min-width: auto;
}


/* ========== Helper classes ============ */


.rounded {
  border-radius: 5px;
}
.grey {
  color: $md-grey-500;
}
.black {
  color: $md-black-base;
}


.ui-editable-title-label i {
  margin-left: .3ch;
}

@media screen and (min-width: 1025px) {

  .md-tile-text--primary, .md-tile-text--secondary {
      font-size: 15px;
  }
}

.languages-list {
  overflow: unset;

  .md-text-field-container {
    margin-top: 0;
  }

  tbody .md-table-row {
    border-bottom: none;
  }

  .addlink .md-text,
  .addlink .md-icon {
    color: $md-secondary-color;
  }
}

#lang-menu-list .md-list-tile .md-tile-content {
  display: grid;
  grid-template-columns: 10em 2em;
  grid-column-gap: 1em;
}
