.grid {
  min-height: 100vh;
  font-size: 1rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 210px auto 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(min-content, 320px) auto 90px;
  grid-template-areas:
    "sidebar main-content button-area";
  .sidebar {
    grid-area: sidebar;
    align-self: stretch;
    background: $md-white-base;
    border-right: 1px solid $md-grey-300;
  }
  .main-content {
    grid-area: main-content;
    background: $md-white-base;
    padding: 86px 100px 70px;
  }
  .button-area {
    grid-area: button-area;
  }
}

footer {
  grid-area: footer;
}

@media screen and (max-width: 33.9em) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main-content";
    grid-auto-rows: auto;
    grid-row-gap: 4rem;
  }
}

.md-subheader {
  height: auto;
}
