.md-tabs {
  transform: translateX(-56px);
}
.md-tab {
  min-width: initial;
}

@media #{$md-mobile-media} {
  .mainTabs{
    .md-tabs {
      width: 750px;
      overflow: visible;
    }
    .material-icons.md-icon {
      font-size: 20px;
    }
  }
}
@media #{$md-desktop-media} {
  .mainTabs {
    .md-tabs {
      width: 900px;
    }
    .md-tab-label {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.md-tab-indicator {
  height: 3px !important;
}

#more-menu {
  transform: translateX(20px) translateY(-7px);
  z-index: 999;
  ul {
    @extend .rounded;
    min-width: 150px;
    margin-top: -42px;
    margin-left: -6px;
    i.dummy {
      margin-left: -10px;
    }
  }
}
