.md-tabs {
  transform: translateX(-56px);
}
.md-tab {
  min-width: initial;
}

@media #{$md-mobile-media} {
  .mainTabs{
    .md-tabs {
      width: 750px;
      overflow: visible;
    }
    .material-icons.md-icon {
      font-size: 20px;
    }
  }
}
@media #{$md-desktop-media} {
  .mainTabs {
    .md-tabs {
      width: 900px;
    }
    .md-tab-label {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.md-tab-indicator {
  height: 3px !important;
}

.mainTabs {
  ul .md-list {
    @extend .rounded;
    min-width: 150px;
    .md-text--disabled {
      color: $md-black-base;
    }
  }
}
