body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.grid {
  height: 100vh;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 210px auto 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: flex;
  flex: 1;
}

footer {
  grid-area: footer;
  color: $md-grey-500;
  padding: 17px 20px;
}

.date-time-picker {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
}

.file-upload-field {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 100%;
}
