body {
  margin: 0;
  padding: 0;
  min-width: $min-page-width;
}
.grid {
  min-height: 100vh;
  font-size: 1rem;
  min-width: $min-page-width;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(162px, max-content) auto 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  > header,
  > main,
  > footer {
    min-width: $min-page-width;
  }

}

header {
  grid-area: header;
}

main {
  background: $md-grey-200;
  grid-area: main;
  display: flex;
  flex: 1;
  position: relative;
}

footer {
  grid-area: footer;
  background: $md-grey-200;
  color: $md-grey-500;
  padding: 17px 20px;
  border-top: 1px solid $md-grey-300;
}

.date-time-picker {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
}

.file-upload-field {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 100%;
}
