.main-with-sidebar {
  display: grid;
  grid-template-columns: minmax(min-content, 320px) auto 90px;
  grid-template-areas:
    "sidebar main-content button-area";
  .sidebar {
    grid-area: sidebar;
    align-self: stretch;
    background: $md-white-base;
    border-right: 1px solid $md-grey-300;
  }
  .main-content {
    grid-area: main-content;
    background: $md-white-base;
    padding: 86px 100px 70px;
  }
  .button-area {
    grid-area: button-area;
  }
}

@media screen and (max-width: 33.9em) {
  .main-with-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main-content";
    grid-auto-rows: auto;
    grid-row-gap: 4rem;
  }
}

.main-grey {
  background: $md-grey-200;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
    ". main-content .";
  .main-content {
    grid-area: main-content;
    padding: 60px 0px 90px;

    .md-paper {
      background-color: $md-white-base;
    }
  }
}

.main-fullwidth {
  background: $md-white-base;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-areas:
    ". main-content .";
  .main-content {
    grid-area: main-content;
    padding: 86px 100px 70px;
  }

  &.wide {
    grid-template-columns: 100%;
    grid-template-areas: "main-content";
  }
}

.md-subheader {
  height: auto;
}

.main-empty {
  background: $md-grey-200;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 320px) 1fr;
  grid-template-areas: ". main-content .";
  .main-content {
    grid-area: main-content;
    height: 100%;
    align-self: center;
  }
}
