.main-with-sidebar {
  width: 100%;
  padding: 108px 5% 4rem;
  display: grid;
  grid-template-columns: minmax(min-content, 320px) minmax(615px, 1fr);
  grid-template-areas:
    "sidebar main-content";
  column-gap: 8rem;
  .sidebar {
    grid-area: sidebar;
  }
  .button-area {
    grid-area: button-area;
    background: $md-grey-300;
  }
}

@media screen and (max-width: $md-tablet-min-width) {
  .main-with-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main-content";
    grid-auto-rows: auto;
    grid-row-gap: 4rem;
  }
}

.main-fullwidth {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main-content";
  margin-top: 108px;
  padding: 0 5% 3rem;
}

.main-content {
  grid-area: main-content;
  background: $md-white-base;
  padding: 2rem 2rem;
  border-radius: 4px;
}

.main-single-column {
  background: $md-white-base;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 570px 1fr;
  grid-template-areas:
    ". main-content .";
  .main-content {
    grid-area: main-content;
    padding: 0 0 70px;
  }
}

.main-grey {
  background: $md-grey-300;
  width: 100%;
  padding: 108px 5% 3rem;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas:
    ". main-content .";
  .main-content {
    background-color: transparent;
    grid-area: main-content;
    padding: 0 0px 90px;

    .md-paper {
      background-color: $md-white-base;
      &.md-select-field {
        background-color: inherit;
      }
    }
  }
}

.main-empty {
  background: $md-grey-200;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 320px) 1fr;
  grid-template-areas: ". main-content .";
  .main-content {
    background-color: transparent;
    grid-area: main-content;
    height: 100%;
    align-self: center;
  }
}
