.sidebar {
  background-color: transparent;
  .sidebar-item-active {
    > .md-list-tile {
     @extend .active;
    }
  }
  .sidebar-item-disabled {
    .md-text, .md-icon {
      color: $md-grey-500;
    }
  }
  .sidebar-item-append {
    display: flex;
    align-items: center;
    height: 100%;
    .md-selection-control-container {
      height: 100%;
    }
    .md-icon {
      color: $md-grey-500;
    }
    .md-icon.error-in-sidebar {
      color: $error-red;
      vertical-align: middle;
      font-size: 90%;
      padding: 0 5px;
    }
    button {
      visibility: hidden;
    }
    .md-list-item {
      padding-bottom: 1em;
      &:last-child {
        padding-bottom: 0;
      }
      .md-list-tile {
        padding: 0 6em 0 1em;
        border-radius: 4px;
      }
      .md-text, .md-icon {
        color: $md-black-base;
      }
    }
  }
  .md-subheader {
    color: $md-grey-500;
    font-size: 1.3rem;
    line-height: 1;
    padding: 0 3em 1.7em 0;
  }
  .md-list-tile {
    height: 60px;
    padding-right: 0;
    &--active {
      @extend .hover;
      button {
        visibility: visible;
      }
    }
  }
  .md-icon {
    @extend .md-text;
    font-size: 24px;
  }
  .md-tile-content {
    padding-left: 1em;
    .md-tile-text--primary {
      font-size: 16px;
    }
  }
  .addlink .md-text,
  .addlink .md-icon {
    color: $md-secondary-color;
  }
  > .md-menu-container > .md-list--menu {
    .md-list-item {
      padding-bottom: 1em;
      &:last-child {
        padding-bottom: 0;
      }
    }
    .md-list-tile {
      padding: 0 6em 0 1.1em;
    }
  }
  .missing-skill .md-text {
    color: $error-red;
  }
}

.button-area {
  display: flex;
  flex-direction: column-reverse;
  .buttons {
    text-align: center;
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    .md-btn {
      &--icon {
        border-radius: 3%;
        height: 48px;
        width: 48px;
        margin-bottom: 12px;
      }
      &--hover {
        @extend .hover;
      }
    }
    .md-icon {
      font-size: 24px;
    }
  }
}
