.main-content{
  .translations-header {
    display: grid;
    grid-template-columns: auto -webkit-max-content;
    grid-template-columns: auto max-content;
    grid-template-rows: auto;
    grid-template-areas: "tittle menu";

    h1 {
      margin: 0
    }

    .translations-tittle {
      grid-area: tittle;
      padding: 10px 0;
    }

    .translations-menu {
      grid-area: menu;

      a, button {
        color: $md-grey-500;
        font-size: 18px;
        font-weight: normal;
        padding: 25px 20px;
        text-transform: none;

        &[disabled] {
          color: $md-grey-300;
        }
      }

      a:link {
        text-decoration: none;
      }
    }
  }
}

.row-variable-condition {
  &:hover {
    .btn-remove-variable {
      visibility: visible;
    }
  }
  &:hover {
    .btn-remove-condition {
      visibility: visible;
    }
  }
  .condition-name-column {
    padding-left: 25px;
  }
}

.btn-remove-variable, .btn-remove-condition {
  visibility: hidden;
}

.btn-add-variable {
  color:$md-cyan-500;
  font-size: 16px;
  text-transform: none;
}

#translations-table {
  tbody .md-table-row {
    border-bottom: none;
  }
  th {
    width: 33%;
  }
  .default-lang, .editable-field {
    padding-left: 24px;
  }
}

.translation-key {
  padding-left: 2em;
  display: inline-block;
}
.translation-key, .behaviour-label {
  color: $md-grey-500;
}

