<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <h1>You have been invited to collaborate on the <%= @bot.name %>.</h1>
    <p>
      To accept the invitation, you need to log in to Aida and visit
      <a href="<%= @invitation_link %>">this link</a>. You will need an account
      in InSTEDD. Create one if you don't already have one. It's free.
    </p>
  </body>
</html>
