<h1><%= @inviter %> has invited you to collaborate on <%= @bot.name %> in Aida.</h1>
<p>
  To accept the invitation, you need to log in to Aida and visit
  <a href="<%= @invitation_link %>">this link</a>. You will need an account in
  InSTEDD. <a href="<%= @sign_up_link %>">Sign up</a> if you don't already have
  one. It's free.
</p>
