/* =============================================================================
  VARIABLES
============================================================================= */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



$sans-family: "Roboto", sans-serif;

$black: #000000;
$white: #FFFFFF;

$gray: #9E9E9E;
$gray-light: #E5E5E5;
$gray-lighten: #f1f1f1;
$gray-dark: #424242;
$gray-darker: #333333;
$blue-link: #2196F3;

$btn-outline: #4dbed4;
$btn-outline-dark: #429eb1;

$header: 100px;
$side-padd: 5%;
